<body>
    
<!-- This is the top section -->
<div class="container home">

    <div class="row row1">
        <div class="col-12">
                <p class="title">#FosterCode</p>
        </div>
    </div>

    <div class="row row2">
        <div class="col-3">

        </div>
        <div class="col-6">
            <p class="subheading">
                level franzen selfies, bitters prism tacos yuccie
            </p>
        </div>
        <div class="col-3">

        </div>
    </div>

    <div class="row row3">
        <div class="col-4">
            <p>
                 <i class="fas fa-home"></i>
            </p>
            <p>
                level franzen selfies, bitters prism tacos yuccie
            </p>
        </div>
        <div class="col-4">
            <p>
                <i class="fas fa-home"></i>
            </p>
            <p>
                level franzen selfies, bitters prism tacos yuccie
            </p>
        </div>
        <div class="col-4">
            <p>
                <i class="fas fa-home"></i>
            </p>
            <p>
                level franzen selfies, bitters prism tacos yuccie
            </p>
        </div>
    </div>


</div>

<!-- This is the orange "how it started" section -->
<div class="container about">
    <div class="row">
        <div class="col-12">
            <p class="about-text">
                how it started
            </p>
        </div>
    </div>

</div>


</body>
